:root {
  --secondary80: #5c5c5c;
  --button-gradient: linear-gradient(230deg, #bc4e9b 19.66%, #0957de 115.46%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #000;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100vw;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  
  body {
    scroll-behavior: auto;
  }
}

.main_hero {
  background-color: #f2fafc;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 850px;
  padding-top: 150px;
  padding-bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .main_hero {
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 820px) {
  .main_hero {
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.engagement_model {
  background-color: #000000;
  height: auto;
  padding-top: 90px;
  padding-bottom: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .engagement_model {
    padding-top: 90px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 820px) {
  .engagement_model {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.services {
  background-color: #fff;
  height: auto;
  padding-top: 90px;
  padding-bottom: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 820px) {
  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer {
  background-color: #fff;
  min-height: auto;
  padding-top: 120px;
  padding-bottom: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  .footer {
    background-color: #fff;
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    background-color: #fff;
    min-height: auto;
    padding-top: 60px;
    padding-bottom: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.contact_us {
  background-color: #f5f5f7;
  height: auto;
  padding-top: 90px;
  padding-bottom: 142px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .contact_us {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 820px) {
  .contact_us {
    padding-top: 60px;
    padding-bottom: 43px;
  }
}

.how_it_works {
  background: #f5f5f7;
  height: auto;
  padding-top: 90px;
  padding-bottom: 108px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 820px) {
}

.about {
  background-color: #fff;
  height: 704px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .about {
    background-color: #fff;
    height: 503px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }
}

@media screen and (max-width: 820px) {
  .about {
    background-color: #fff;
    height: 715px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.case_study {
  background-color: #fff;
  height: auto;
  padding-top: 90px;
  padding-bottom: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .case_study {
    padding-bottom: 66px;
  }
}
@media screen and (max-width: 820px) {
  .case_study {
    padding-top: 60px;
    padding-bottom: 28px;
  }
}

.easybar_hero {
  background-color: #fff;
  background-image: url("/HeroSectionImg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  padding-top: 144px;
  height: 980px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .easybar_hero {
    height: 728px;
  }
}
@media screen and (max-width: 820px) {
  .easybar_hero {
    height: 555px;
  }
}

.header_div {
  height: 90px !important;
}

.easybar_overview {
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: auto;

  background-size: 840px;
  background-repeat: no-repeat;
}

.left {
  --easybar-layout-side: left;
}
.right {
  --easybar-layout-side: right;
}
.easybar_feature_right {
  --easybar-feature-right: 1;
}

.easybar_overview.right {
  background-image: url(../images/gradiants/gradient-right.png);
  background-position: right bottom;
}

.easybar_overview.left {
  background-image: url(../images/gradiants/gradient-left.png);
  background-position: left bottom;
}

@media screen and (max-width: 1439px) {
  .easybar_overview {
    background-size: 600px;
  }
}

@media screen and (max-width: 939px) {
  .easybar_overview {
    background-size: 450px;
  }
}

@media screen and (max-width: 819px) {
  .easybar_overview {
    background-size: 400px;
  }
  .easybar_overview.right {
    background-position: right top;
  }
  
  .easybar_overview.left {
    background-position: left top;
  }
}

@media screen and (max-width: 429px) {
  .easybar_overview {
    background-size: 425px;
  }
}

.easybar_testimonial {
  background-color: #1B1B1B;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header_div {
  height: 90px !important;
}

.fixed_price {
  background-color: #fff;
  height: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .fixed_price {
    height: 605px;
  }
}
@media screen and (max-width: 820px) {
  .fixed_price {
    height: 834px;
  }
}

.idea_section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.process_section {
  display: flex;
  padding: 124px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 47px;

  background: #000;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .process_section {
    padding: 60px 140px;
  }
}
@media screen and (max-width: 820px) {
  .process_section {
    padding: 57px 24px;
  }
}

.questions_section {
  display: flex;
  padding: 120px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
}

@media screen and (max-width: 820px) {
  .process_section { 
    padding: 56px 24px;
  }
}

.easybar_solution {
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}

@media screen and (max-width: 820px) {
  .easybar_solution {
    padding-bottom: 60px;
  }
}

.easybar_key_features {
  background: linear-gradient(to bottom, #E6EEFC 0%, #FFFFFF 50%);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}

@media screen and (max-width: 820px) {
  .easybar_key_features {
    padding-top: 60px;
  }
}


.key_feature {
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.quotes {
  width: 56px;
  height: 47px;
  background-image: url(../images/quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.25;
}

.quotes.top {
  top: 0;
  left: 20px;
}

.quotes.bottom {
  bottom: 0;
  right: 20px;
  transform: scaleX(-1) scaleY(-1);
}

@media screen and (max-width: 1200px) {
  .quotes {
    width: 44px;
    height: 37px;
  }

  .quotes.top {
    top: 0;
    left: 12px;
  }

  .quotes.bottom {
    bottom: 0;
    right: 12px;
  }
}

@media screen and (max-width: 820px) {
  .quotes {
    width: 32px;
    height: 27px;
  }

  .quotes.top {
    top: 0;
    left: 10px;
  }

  .quotes.bottom {
    bottom: 0;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .quotes {
    width: 24px;
    height: 20px;
  }

  .quotes.top {
    top: 0;
    left: 8px;
  }

  .quotes.bottom {
    bottom: 0;
    right: 8px;
  }
}



.team_work{
  display: flex;
  flex-direction: column;
  padding: 90px 24px 62px 24px;
  gap: 23px;
  justify-content: center;
  align-items: center;
  background: #fff;

  overflow: hidden;
  position: relative;
}

.team_structure{
  display: flex;
  flex-direction: column;
  padding: 127px 24px;
  justify-content: center;
  align-items: center;
  background: #F5F5F7;

  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .team_structure { 
    padding: 78px 24px 160px 24px;
  }
}

@media screen and (max-width: 820px) {
  .team_structure { 
    padding: 90px 24px 90px 24px;
  }
}

.team_need{
  display: flex;
  padding: 173px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .team_need { 
    padding-top: 52px;
    padding-bottom: 72px;
  }
}


.dedicated_page{
  display: flex;
  padding: 120px 24px;
  gap: 23px;
  justify-content: center;
  align-items: center;
  background: #000;

  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .dedicated_page { 
    flex-direction: column;
    padding: 60px 28px;
    gap: 56px;
  }
}

@media screen and (max-width: 1200px) {
  .dedicated_page { 
    flex-direction: column;
    padding: 57px 24px;
    gap: 24px;
  }
}
